<main-navbar></main-navbar>

<div layout="row" layout-padding layout-wrap layout-margin>
  <span flex></span>
  <md-whiteframe class="md-whiteframe-1dp" flex="60" layout="row" layout-align="center center">
    <form novalidate layout="row" layout-align="center center" layout-wrap flex>
      <span flex></span>
      <md-input-container class="md-icon-float md-icon-right md-block" flex="80">
        <label>Buscar...</label>
        <input ng-model="searchCtrl.searchTerms.search_text" type="text">
        <md-icon md-icon-font="material-icons">search</md-icon>
      </md-input-container>
      <span flex></span>
      <md-chips style="margin-bottom: 30px;" ng-model="searchCtrl.searchTerms.majors" md-transform-chip="searchCtrl.transformChip($chip)" md-autocomplete-snap md-require-match="true" flex="80">
        <md-autocomplete
          md-selected-item="searchCtrl.selectedItem"
          md-search-text="searchCtrl.searchText"
          md-items="item in searchCtrl.querySearch(searchCtrl.searchText)"
          md-item-text="item.name"
          placeholder="Carreras">
          <span md-highlight-text="searchCtrl.searchText">{{item.name}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <strong>{{$chip.name}}</strong>
          </span>
        </md-chip-template>
      </md-chips>
    </form>
  </md-whiteframe>
  <span flex></span>
</div>
<div layout="row" layout-padding layout-wrap layout-align="center center">
  <md-card flex="30" ng-repeat="graduationProject in searchCtrl.graduationProjects | filter:searchCtrl.search">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{graduationProject.name}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>{{graduationProject.objective}}</p>
      <md-list>
        <md-list-item ng-repeat="major in graduationProject.majors" class="md-caption">{{major.name}}</md-list-item>
      </md-list>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-accent" ui-sref="details.graduation_project({ graduation_project_id: graduationProject.id })">Ver detalles</md-button>
    </md-card-actions>
  </md-card>
</div>
