<md-dialog aria-label="Prácticas profesionales" ng-cloak style="width: 80%">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 ng-show="professionalPracticeCtrl.edit">Editar práctica profesional</h2>
      <h2 ng-hide="professionalPracticeCtrl.edit">Crear práctica profesional</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="professionalPracticeCtrl.cancel()">
        <md-icon md-font-set="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content" layout="row" layout-padding>
      <form name="professionalPracticeCtrl.professionalPracticeForm" ng-submit="professionalPracticeCtrl.professionalPracticeForm.$valid && professionalPracticeCtrl.answer(professionalPracticeCtrl.professionalPractice)" flex>
        <div layout="row" layout-wrap>
          <md-input-container class="md-block" flex="33">
            <label>Área o departamento</label>
            <input ng-model="professionalPracticeCtrl.professionalPractice.area" name="practiceArea" required>
            <div ng-messages="professionalPracticeCtrl.professionalPracticeForm.practiceArea.$error">
              <div ng-message="required">Es requerido.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="33">
            <label>Cargo</label>
            <input ng-model="professionalPracticeCtrl.professionalPractice.charge" name="practiceCharge" required>
            <div ng-messages="professionalPracticeCtrl.professionalPracticeForm.practiceCharge.$error">
              <div ng-message="required">Es requerido.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="33">
            <label>Objetivo</label>
            <input ng-model="professionalPracticeCtrl.professionalPractice.objective" name="practiceObjective" required>
            <div ng-messages="professionalPracticeCtrl.professionalPracticeForm.practiceObjective.$error">
              <div ng-message="required">Es requerido.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="50">
            <label>Responsabilidades</label>
            <textarea ng-model="professionalPracticeCtrl.professionalPractice.daily_tasks" name="practiceDailyTasks" required></textarea>
            <div ng-messages="professionalPracticeCtrl.professionalPracticeForm.practiceDailyTasks.$error">
              <div ng-message="required">Es requerido.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex="50">
            <label>Observaciones</label>
            <textarea ng-model="professionalPracticeCtrl.professionalPractice.observation" name="practiceObservation"></textarea>
          </md-input-container>
          <div class="md-block" flex="33">
            <md-checkbox ng-model="professionalPracticeCtrl.professionalPractice.hire_probability">Probabilidad de empleo</md-checkbox>
          </div>
          <div class="md-block" flex="33">
            <md-checkbox ng-model="professionalPracticeCtrl.professionalPractice.flexitime">Flexibilidad de horario</md-checkbox>
          </div>
        </div>
      </form>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="professionalPracticeCtrl.professionalPracticeForm.$valid && professionalPracticeCtrl.answer(professionalPracticeCtrl.professionalPractice)" ng-disabled="!professionalPracticeCtrl.professionalPracticeForm.$valid">Guardar</md-button>
  </md-dialog-actions>
</md-dialog>
