<div layout="row" layout-padding layout-align="center center">
  <div flex style="height:90vh">
    <%= image_tag('lupa.png', alt: 'lupa', id: 'error-404-img') %>
  </div>
  <div flex>
    <h1 id="error-404-title">Error 404</h1>
    <h3 id="error-404-subtitle">Página no encontrada</h3>
    <md-button href="#/" class="md-accent">Inicio</md-button>
    <md-button href="#" class="md-accent">Prácticas</md-button>
    <md-button href="#" class="md-accent">Proyectos</md-button>
    <md-button href="#" class="md-accent">Preguntas frecuentes</md-button>
  </div>
</div>

<style>
  body {
    background-color: #3F51B5;
  }
</style>