<main-navbar></main-navbar>
<header class="indigo lighten-1" layout="row">
  <span flex></span>
  <h1 class="page-title white-text">Registro</h1>
  <span flex></span>
</header>
<div layout="row" layout-margin>
  <span flex></span>
  <div flex>
    <i class="large material-icons">account_balance</i>
    <h4>Empresas</h4>
    <p class="flow-text remove-margin-side">Organizaciones o instituciones con o sin fines de lucro pueden realizar un perfil y colocar sus propuestas.</p>
    <md-button ui-sref="user.company_sign_up" class="md-accent md-raised">Registrarse</md-button>
  </div>
  <div flex>
    <i class="large material-icons">face</i>
    <h4>Estudiantes</h4>
    <p class="flow-text remove-margin-side">Encontraras una amplia gama de opciones de prácticas y proyectos de acuerdo a lo que más te gusta.</p>
    <md-button ui-sref="user.student_sign_up" class="md-accent md-raised">Registrarse</md-button>
  </div>
  <div flex>
    <i class="large material-icons">school</i>
    <h4>Académicos</h4>
    <p class="flow-text remove-margin-side">Autoridades que acompañan a los estudiantes en sus procesos de práctica profesional o proyecto.</p>
    <md-button ui-sref="user.academy_sign_up" class="md-accent md-raised">Registrarse</md-button>
  </div>
  <span flex></span>
</div>