// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  height: 100%;
  width: auto;
}

#error-404-title {
  color: #EF5350;
  font-size: 7.5em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5%;
}

#error-404-subtitle {
  color: #EF5350;
  font-size: 2.5em;
  text-align: center;
}

#photo {
  width: 230px;
  height: 230px;
}

.flow-text {
  margin: 2% 10%;
}

.card-imgs {
  height: 284px;
}

.page-title {
  margin: 0;
  padding: 50px 0;
}

.flow-text {
  line-height: 1.5;
  font-size: 1.5em;
}

.home-text {
  margin-top: 1%;
}

.remove-margin-side {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 0;
  margin-right: 0;
}

.floating-bottom-right {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

md-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
