<p>Bienvenido <%= @email %>!</p>

<p>Puedes confirmar tu cuenta del Gestor de Práctica y Proyectos de Graduación en el siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token, config: message['client-config'].to_s, redirect_url: message['redirect-url']) %></p>
